<menu class="menu">
    <a href="/">Agenda</a>
    <span>
        <% if(!user) { %>
        <nav class="navBar"><a href="/login">Entrar</a></nav>
        <% } else { %>
        <span class="spUser">
            <%= user.email %>
        </span>
        <nav class="navBar"><a href="/contact">Contatos</a></nav>
        <nav class="navBar"><a href="/login/logout">Sair</a></nav>
        <% } %>
    </span>

</menu>