<!DOCTYPE html>
<html lang="pt-BR">
<%- include('includes/head') %>


<body>
    <section class="container">
        <h1>Erro 404!</h1>
        <p class="txtCenter">P&eacute;gina n&atilde;o encontrada!</p>
    </section>
    <%- include('includes/footer'); %>
</body>

</html>