<!DOCTYPE html>
<html lang="pt-BR">
<%- include('includes/head'); %>

<body>
    <%- include('includes/menu'); %>
    <section class="container">
        <h1>Agenda</h1>
        <p class="txtCenter">Abaixo a lista dos contatos cadastrados.</p>
        <%- include('includes/messages') %>
        <div class="table">
            <table>
                <tr>
                    <td>André</td>
                    <td>Aguiar</td>
                    <td>321654102165</td>
                    <td>andreaguiar.g@gmail.com</td>
                </tr>
            </table>
        </div>
    </section>
    <%- include('includes/footer'); %>

</body>

</html>