<!DOCTYPE html>
<html lang="pt-BR">
<%- include('includes/head'); %>

<body>
    <%- include('includes/menu'); %>
    <section class="container">
        <h1>Agenda</h1>
        <p class="txtCenter">Abaixo a lista dos contatos cadastrados.</p>
        <div class="alert dangerAlert">Algum erro</div>
        <div class="table"></div>
        <table>
            <tr>
                <td>André</td>
                <td>Aguiar</td>
                <td>321654102165</td>
                <td>andreaguiar.g@gmail.com</td>
            </tr>
            <tr>
                <td>André</td>
                <td>Aguiar</td>
                <td>321654102165</td>
                <td>andreaguiar.g@gmail.com</td>
            </tr>
            <tr>
                <td>André</td>
                <td>Aguiar</td>
                <td>321654102165</td>
                <td>andreaguiar.g@gmail.com</td>
            </tr>
            <tr>
                <td>André</td>
                <td>Aguiar</td>
                <td>321654102165</td>
                <td>andreaguiar.g@gmail.com</td>
            </tr>
        </table>
    </section>
    <%- include('includes/footer'); %>

</body>

</html>